RewriteEngine on

RewriteRule ^index.html$ index.php [L,NC]
RewriteRule ^giris.html$ giris.php [L,NC]
RewriteRule ^([a-zA-Z0-9\-_]+).html$ index.php?sayfa=$1 [L,QSA]
RewriteRule ^sayfa-duzenle/(.*).html$ index.php?sayfa=sayfa-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hizmet-duzenle/(.*).html$ index.php?sayfa=hizmet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^referans-duzenle/(.*).html$ index.php?sayfa=referans-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^kupon-duzenle/(.*).html$ index.php?sayfa=kupon-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bayilik-duzenle/(.*).html$ index.php?sayfa=bayilik-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^slider-duzenle/(.*).html$ index.php?sayfa=slider-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^blog-duzenle/(.*).html$ index.php?sayfa=blog-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^banka-duzenle/(.*).html$ index.php?sayfa=banka-hesap-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^header-menu-duzenle/(.*).html$ index.php?sayfa=header-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^footer-menu-duzenle/(.*).html$ index.php?sayfa=footer-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^dil-duzenle/(.*).html$ index.php?sayfa=dil-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^musteri-duzenle/(.*).html$ index.php?sayfa=musteri-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^rezervasyon/(.*).html$ index.php?sayfa=rezervasyon-detay&id=$1 [L,QSA]
RewriteRule ^destek/(.*).html$ index.php?sayfa=destek&id=$1 [L,QSA]
RewriteRule ^sablon-duzenle/(.*).html$ index.php?sayfa=sablon-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^rehber-duzenle/(.*).html$ index.php?sayfa=rehber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^yonetici-duzenle/(.*).html$ index.php?sayfa=yonetici-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hosting-kategori-duzenle/(.*).html$ index.php?sayfa=hosting-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^web-kategori-duzenle/(.*).html$ index.php?sayfa=web-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hosting-paket-duzenle/(.*).html$ index.php?sayfa=hosting-paket-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^web-paket-duzenle/(.*).html$ index.php?sayfa=web-paket-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^fatura-ekle/(.*).html$ index.php?sayfa=fatura-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^web-ofisi-bot-web-paket-ekle/(.*).html$ index.php?sayfa=web-ofisi-bot-web-paket-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^fatura-duzenle/(.*).html$ index.php?sayfa=fatura-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-hosting-ekle/(.*).html$ index.php?sayfa=ms-hosting-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-hosting-duzenle/(.*).html$ index.php?sayfa=ms-hosting-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^alanadi-ekle/(.*).html$ index.php?sayfa=alanadi-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^alanadi-duzenle/(.*).html$ index.php?sayfa=alanadi-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-hizmet-ekle/(.*).html$ index.php?sayfa=ms-hizmet-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-hizmet-duzenle/(.*).html$ index.php?sayfa=ms-hizmet-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-sozlesme-ekle/(.*).html$ index.php?sayfa=ms-sozlesme-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-sozlesme-duzenle/(.*).html$ index.php?sayfa=ms-sozlesme-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-rapor-ekle/(.*).html$ index.php?sayfa=ms-rapor-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-rapor-duzenle/(.*).html$ index.php?sayfa=ms-rapor-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-efatura-ekle/(.*).html$ index.php?sayfa=ms-efatura-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-efatura-duzenle/(.*).html$ index.php?sayfa=ms-efatura-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-teklif-ekle/(.*).html$ index.php?sayfa=ms-teklif-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-teklif-duzenle/(.*).html$ index.php?sayfa=ms-teklif-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-referans-ekle/(.*).html$ index.php?sayfa=ms-referans-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-referans-duzenle/(.*).html$ index.php?sayfa=ms-referans-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ms-web-paket-ekle/(.*).html$ index.php?sayfa=ms-web-paket-ekle&islem=ekle&id=$1 [L,QSA]
RewriteRule ^ms-web-paket-duzenle/(.*).html$ index.php?sayfa=ms-web-paket-duzenle&islem=duzenle&id=$1 [L,QSA]
